In [40]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

from sklearn import tree

In [41]:
df = pd.read_csv('titanic.csv')
df.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [42]:
from sklearn.preprocessing import LabelEncoder

In [43]:
df.drop(['PassengerId', 'Name', 'SibSp', 'Parch', 'Ticket', 'Cabin', 'Embarked'], axis='columns', inplace=True)

In [44]:
df.head(3)

   Survived  Pclass     Sex   Age     Fare
0         0       3    male  22.0   7.2500
1         1       1  female  38.0  71.2833
2         1       3  female  26.0   7.9250

In [45]:
le_sex = LabelEncoder()
df['sex_n'] = le_sex.fit_transform(df['Sex'])

In [46]:
df.head(3)

   Survived  Pclass     Sex   Age     Fare  sex_n
0         0       3    male  22.0   7.2500      1
1         1       1  female  38.0  71.2833      0
2         1       3  female  26.0   7.9250      0

In [47]:
df.drop('Sex',axis='columns', inplace=True)

In [48]:
df.head(3)

   Survived  Pclass   Age     Fare  sex_n
0         0       3  22.0   7.2500      1
1         1       1  38.0  71.2833      0
2         1       3  26.0   7.9250      0

In [54]:
Y = df['Survived']
X = df.drop('Survived',axis='columns')

X['Age'] = X.Age.fillna(X.Age.mean())

In [55]:
X.head(5)

   Pclass   Age     Fare  sex_n
0       3  22.0   7.2500      1
1       1  38.0  71.2833      0
2       3  26.0   7.9250      0
3       1  35.0  53.1000      0
4       3  35.0   8.0500      1

In [57]:
from sklearn.model_selection import train_test_split
model = tree.DecisionTreeClassifier()
X_train, X_test, y_train, y_test = train_test_split(X,Y, test_size=0.2)
model.fit(X_train, y_train)

DecisionTreeClassifier()

In [59]:
model.score(X_test, y_test)

0.776536312849162